# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# production
/lib
/dist
/docs-dist

# misc
.DS_Store
.vscode
.husky
*.zip

# umi
.umi
.umi-production
.umi-test
.env.local
