:root {
  --margin-x: 240px;
  --margin-y: 180px;
}

.topRow {
  margin-top: var(--margin-y);
  text-align: center;
}

.bottomRow {
  text-align: center;
  clear: both;
  margin-bottom: var(--margin-y);
}

.leftCol {
  width: 100px;
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-x);
}

.rightCol {
  width: 100px;
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: var(--margin-x);
}
